/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "KiwiMaru";
    src: url("../assets/fonts/KiwiMaru-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "FredokaOne";
    src: url("../assets/fonts/FredokaOne-Regular.ttf") format("truetype");
}

body {
    font-family: "KiwiMaru", sans-serif;
    background: #f5f5f5;
    min-height: 100vh;
}
