.main-container {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 40px 50px;
    width: 100%;
    padding-top: 90px;
}

.section {
    margin-bottom: 50px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
