.main-container {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 60px 70px;
    width: 100%;
    padding-top: 90px;
}

.section {
    margin-bottom: 50px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.page-title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
