<div class="header">
  <div class="logo">Gachappy</div>
  <nav class="header-nav">
    <a href="../index.html" class="header-nav-item">
      <img src="assets/images/home_30dp.svg" class="nav-icon" alt="">
      <span>ホーム</span>
    </a>
    <a href="../ranking.html" class="header-nav-item">
      <img src="assets/images/ranking_30dp.svg" class="nav-icon" alt="">
      <span>人気ランキング</span>
    </a>
    <a href="#" class="header-nav-item">
      <img src="assets/images/search_30dp.svg" class="nav-icon" alt="">
      <span>検索</span>
    </a>
    <a href="../favorite.html" class="header-nav-item">
      <img src="assets/images/favorite.svg" class="nav-icon" alt="">
      <span>お気に入り</span>
    </a>
  </nav>
  <div class="user-icon">A</div>
</div>
